.color1 {
    background-color: rgb(177, 72, 72);
}

.color2 {
    background-color: rgb(114, 184, 172);
}

.color3 {
    background-color: rgb(193, 173, 73);
}

.color4 {
    background-color: rgb(72, 144, 177);
}