.box {
    width: 500px;
    height: 200px;
    background-color: lightblue;
    line-height: 2rem;
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
}