body {
    color: rgb(65, 66, 67);
    background: #fcfcfc;
    /* font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', "Helvetica Neue", sans-serif; */
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    line-height: 2.0rem;
}

h1 {
    color: rgb(33, 87, 135);
    /* 16px x 1.5 = 24px */
    font-size: 2.5em;
    /* font-size: 24px; */
    text-align: center;
}

h2 {
    color: #355f84;
    font-size: 1.2em;
    border: 1px solid #355f84;
    border-radius: 10px;
    padding: 10px 15px;
}

/* class=banner */
.banner {
    color: white;
    background: lightgray;
}

/* id=latest-posts */
#latest-posts {
    color: rgb(69, 72, 74);
}

/* headerタグのliだけ指定 */
header li {
    list-style: none;
}

.date-label {
    /* background-color: #c63131; */
    background: #c63131;
    color: #ffffff;
    font-size: 0.5rem;
    padding: 5px 10px;
    margin-right: 10px;
}

.new {
    color: #c63131;
    font-size: 0.7rem;
    padding: 10px;
}

#latest-posts ul {
    list-style: none;
    padding: 0;
}

#latest-posts {
    margin: 20px 0;
}