body {
    color: rgb(69, 109, 128);
    background: #fcfcfc;
}

h1 {
    color: rgb(128, 32, 32);
}

/* class=banner */
.banner {
    color: white;
    background: black;
}

/* id=latest-posts */
#latest-posts {
    color: rgb(22, 117, 180);
}

/* headerタグのliだけ指定 */
header li {
    list-style: none;
}